@charset "UTF-8";

/********** 전체 적용 ***********/
div{
    padding: 0px;
    margin: 0px;
}

a{
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

/********** reportedReview-container ***********/
#reportedReview-container{
    position: relative;
    top: -450px;
    left: 375px;
    width: 530px;
}

div#reportedReview-Info{
    width: 100%;
    height: 50px;
    background-color: #6302aa;
    color: #ffff;
    text-align: center;
    line-height: 50px;
}

/********** reportedReview-container ***********/
#repo-review-count{
    color: #ffff;
    width: 530px;
    height: 150px;
    text-align: center;
    line-height: 70px;
}

#repo-review-count h3{
    margin: 0;	
}

/********** table ***********/
/********** repo-review-board ***********/
#table-wrap{
	position: relative;
    top: 270px;
    left: -280px;
    width: 800px;
    background-color: red;
}
table#repo-review-board{
	border:2px solid #ffff; 
	border-collapse:collapse; 
	clear:both;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
	margin: 10px;
	width: 800px;
}

table#repo-review-board th, table#repo-review-board td{
    border: 2px solid #ffff; 
    padding: 10px; 
    text-align:center;
    
}


















