@CHARSET "UTF-8";
section#review-container{
	color: #ffffff;
	margin: 20px;
}
section#review-container h1{
	position: relative;
	left: 10px;
}
/***********my-review***************/
div#my-review{
	position: relative;
	border: 2px solid #ffffff;
	width: 800px;
	height: 100px;
	border-radius:30px;
	text-align: center;
	left: 100px;
	margin:50px 0;
}
div#my-review button{
	position: relative;
	top: 30px;
	border: 0;
	outline: 0;
	background-color: #439249;
	width: 300px;
	height: 40px;
	font-size: 15px;
	color: #ffffff;
	cursor: pointer;
}

div#my-review button:hover{
	background-color:  #9e5abc;
}


.btn-review-del{
	width: 50px;
	
}

div#review-list{
	position: relative;
	left: 50px;
	margin:50px 0;

}
.tbl-review-list{
	position: relative;
	border:1px solid #ffffff; 
	width:900px; 
	height:150px;
	border-style: hidden;
    box-shadow: 0 0 0 3px #ffffff;	
	border-collapse: collapse; 
	color: #ffffff; 
	border-radius: 10px;
	background-color: #717171;
	text-align: center;
	margin: 30px 0;
	
}
.tbl-review-list tr, td{
	padding: 10px;
}

.tbl-review-list input[type="submit"]{
	background-color: #c0c0c0;
	width:80px;
	height: 30px;
	border-radius: 15px;
	border:1px solid #ffffff; 
	font-weight: bold;
	color: #363636;
	cursor: pointer;
}
.tbl-review-list input[type="submit"]:hover{
	background-color: #9e5abc;
	color: #ffffff;
}


.review-content{
	width: 600px;
}
div#pagebar{margin:10px 0; text-align:center; background-color: transparent; }
div#pagebar span.cPage{color: #ffffff; margin-right: 5px;}
div#pagebar a{margin-right: 5px;}

/***********review-enroll**************/
#review-enroll-container{
	height: 1000px;
}
/*****콘텐츠 정보********/
.contents-info{
	color: #ffffff;
	position: relative;
	width: 400px;
	padding: 0;
	
	text-align: center;
}
.contents-info img{
	width: 250px;
}
/*********리뷰 폼**************/
.back-btn i{
	position: relative;
	font-size: 3em;
}
.review-enroll, .review-update{
	position: relative;
	left: 350px;
	top: -500px;
}
.review-enroll h1, .review-update h1{
	color: #ffffff;
	padding-bottom: 30px;
}
.enroll-content, .update-content{
	position: relative;
	padding: 50px 0; 
}
.review-enroll button, .review-update button{
	border: 0;
	outline: 0;
	background-color: #9e5abc;
	width: 300px;
	font-size: 1.2rem;
	padding: 20px;
	border-radius: 10px;
	color: #ffffff;
	position: relative;
	top: 70px;
	right: 50px;
	cursor: pointer;
	font-weight: bold;
}

.fa-solid fa-xmark-large{
	color: #ffffff;
}
/***********star************/
.star-rating {
  border:solid 3px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:4em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:400px;
  height: 100px;
  position: relative;
  border-radius: 40px;
  background-color: #404040;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}
/******신고 리뷰 폼*******/

div.review-reporter{
	color: #ffffff;
}
div.review-reporter h1{
	font-size: 30px;
}
div.review-reporter span{
	color:#9e5abc;
	font-weight: bold;
}
div.report-review-info{
	position: relative;
	background-color: #717171;
	text-align: center;
	width: 500px;
	border-radius: 25px;
	border: 3px solid #ffffff;
	left: 150px;
	top: 50px;
	color: #ffffff;
}
div.report-enroll{
	position: relative;
	text-align: center;
	top: 30px;
}

div.report-reason input[type="radio"]{
	width:20px;
	height:20px;
	border:1px;
	color: #ff0000;
	accent-color: red;
}
div.report-reason label{
	font-size: 20px;
	margin-right: 20px;
}

.rep-btn{
	width: 150px;
	height: 50px;
	background-color: #717171;
	color: #ffffff;
	font-weight: bold; 
	font-size: 20px;
	cursor: pointer;
	border: 1px solid #ffffff;
	margin-right: 20px;
}
.rep-btn:hover{
	background-color: red;
}

/******admin-review-list****/
section.review-list-container{
	position: relative;
	top: -430px;
	left: 400px;
	width: 700px;
}
div#reviewChk{
	color: #000;
	text-align: center;
	text-decoration: underline;  
	text-underline-position: under;
	font-size: 15px;
}
div#reviewChk:hover{
	color: #ffffff;
}
div#admin-review-list h1,div#member-total-review-list h1{
	color: #ffffff;
}

.tbl-admin-review-list,.tbl-member-review-list{
	position: relative;
	border:1px solid #ffffff; 
	width:500px; 
	height:150px;
	border-style: hidden;
    box-shadow: 0 0 0 3px #ffffff;	
	border-collapse: collapse; 
	color: #ffffff; 
	border-radius: 10px;
	background-color: #717171;
	text-align: center;
	margin: 30px 0;
}
div#adminPagebar,div#memberPagebar{
	margin:10px 0; 
	text-align:center; 
	background-color: transparent; 
	position: relative;
	top: -450px;
	left: 130px;
	}
div#adminPagebar span.cPage{
	color: #ffffff; 
	margin-right: 5px;
	}
div#memberPagebar span.cPage{
	color: #ffffff; 
	margin-right: 5px;
}
div#adminPagebar a,div#memberPagebar a{margin-right: 5px;}

.tbl-admin-review-list input[type="submit"]{
	background-color: #c0c0c0;
	width:80px;
	height: 30px;
	border-radius: 15px;
	border:1px solid #ffffff; 
	font-weight: bold;
	color: #363636;
	cursor: pointer;
}
.tbl-admin-review-list input[type="submit"]:hover{
	background-color: #9e5abc;
	color: #ffffff;
}
.tbl-member-review-list input[type="submit"]{
	background-color: #c0c0c0;
	width:80px;
	height: 30px;
	border-radius: 15px;
	border:1px solid #ffffff; 
	font-weight: bold;
	color: #363636;
	cursor: pointer;
}
.tbl-member-review-list input[type="submit"]:hover{
	background-color: #9e5abc;
	color: #ffffff;
}

